* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 62.5%;
	background-color: #06140f;
	height: 150vh;
	// background-color: #2d6a4f;
}

.navbar {
	position: fixed;
	display: flex;
	align-items: center;
	height: 5rem;
	width: 100%;
	background-color: #060d0ac4;
	&__logo {
		position: absolute;
		display: flex;
		align-items: center;
		left: 3rem;
		height: 100%;

		&-text {
			padding: 0.3rem 0.6rem;
			font-size: 3rem;
			text-decoration: none;
			color: #aba3a3;
		}
	}

	&__box {
		position: absolute;
		right: 6rem;
		display: flex;
		align-items: center;
		height: 100%;
		
		&-link {
			margin: 0 1.6rem;
			font-size: 1.6rem;
			text-decoration: none;
			color: #b3b3b3;
		}
	}
}

@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff) format('woff');
  }
  
  body {
	font-family: Source Code Pro;
	background:#000;
	color: #00FF00;
	margin:0;
	font-size: 13px;
}
  canvas {
	  position:absolute;
	  top:0;
	  left:0;
  }
  .bars-and-stuff{
	  left:66.6%;
  }
  
  .output-console {
	  position:fixed;
	  overflow:hidden;
  }
  p{margin:0}